body { margin: 0; padding: 0; width: 100%;font-family: "swister",sans-serif;font-style: normal;font-weight: 500;font-size: 3rem }
h1,h2,h3,h4,h5,h6{font-weight: 700}
h2{font-size: 4rem}
h3{font-size: 3.5rem}
h4{font-size: 3rem}
h1 { margin: 0 0 15px; padding: 0; font-size: 4rem; color: #424e5f }
a { outline: none; text-decoration: none;color: #404040 }
a:hover { outline: none; text-decoration: none;color: #7F7F7F }
p{text-indent: 4rem}
.c { clear: both }
img { margin: 0 auto}
input, textarea, select { outline: none; resize: none }
.navbar { margin-bottom: 0;border-bottom: 2px solid}
.thin{font-weight: 300}
.header { height: 160px; width: 100% }
.navbar-brand { float: left; margin-top: 15px; font-size: 6rem;width: 100%;font-weight: 500 }
.navbar-brand a { display: block; text-decoration: none;color: #000}
.header-right { width: 400px; float: right;margin-right: 20px }
.header-nav { text-align: right; font-size: 4rem; color: #424e5f; padding-top: 8px }
.header-nav a { margin: 0 2px; color: #424e5f }
.header-phone a{ font-size: 6rem,; color: #000; font-weight: 400; line-height: 1em; text-align: right }
.header-phone a:hover{text-decoration: none;color: #7F7F7F}
.banner { width: 100%; padding: 40px; background: #404040; background: -moz-linear-gradient(top, #404040 0%, #BFBFBF 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #BFBFBF)); background: -webkit-linear-gradient(top, #404040 0%, #BFBFBF 100%); background: -o-linear-gradient(top, #404040 0%, #BFBFBF 100%); background: -ms-linear-gradient(top, #404040 0%, #BFBFBF 100%); background: linear-gradient(to bottom, #404040 0%, #BFBFBF 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#BFBFBF', GradientType=0)
}
.banner-video { margin: 35px auto 0 }
.banner-text { font-size: 6rem; color: #fff; line-height: 34px; letter-spacing: -.03em; padding-top: 10px; text-align: center }
.jumbotron .banner-text{color: #000}
.formbox { background-color: #fff; border-radius: 14px; padding: 10px }
.get-a-quote { max-width: 600px; margin: 0 auto; border: 1px solid #404040; background-color: #FFF; padding: 10px 20px; border-radius: 12px }
.quote { font-size: 50px; font-weight: 100; text-align: center; color: #FFF }
.get-a-quote input, .get-a-quote textarea { margin: 5px auto; padding: 4px; border: 1px inset #FFF; line-height: 3em; background-color: #D8E1E9; font-size: 2rem; color: #565555; font-weight: 700; outline: #636161 solid thin }
.form-group { margin-bottom: 0 }
.i-need-video { background: url(../images/i-need-video.png)!important; width: 378px!important; height: 75px!important; margin: 0!important; padding: 0!important; margin-left: -26px!important; margin-top: 0!important; cursor: pointer }
.banner-bottom-text { font-size: 28px; color: #404040; line-height: 30px; text-align: center; padding-bottom: 20px }
.content-text { font-size: 3rem; color: #222; text-align: center }
blockquote{border: none}
.video-bottom { background: url(../images/video-bg.png); height: 219px; width: 945px; margin-top: 20px; padding: 0 0 0 15px }
.bottom-video { margin-top: 20px }
.bottom-video ul { margin: 0; padding: 0 }
.bottom-video ul li { list-style: none; float: left; background: url(../images/video-bg.png)!important; width: 298px; height: 160px; margin-right: 20px; padding: 5px 0 0 6px }
.call-now { border-top: #404040 solid 2px; border-bottom: #404040 solid 2px;padding: 20px 0 }
.call-now-to-get-results { text-align: center; color: #404040; padding: 10px 0; font-size: 7rem; line-height: 7rem; margin: 0 }
.no-1 { padding: 10px; color: #525252; line-height: 20px; font-weight: 400 }
.no-1 span { color: #c60000 }
.no-1-image { float: left; margin-right: 40px }
.footer { border-top: #d9d9d9 solid 2px; padding: 20px 0; text-align: center; font-size: 3rem; color: #bac2cd;background-color: #404040 }
.footer a { color: #bac2cd }
.message { font-weight: 700; color: #000; margin-top: -28px; height: 25px }
.btn-custom { margin: 10px auto; background-color: hsl(0,88%,28%)!important; background-repeat: repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#BFBFBF", endColorstr="#404040");
background-image: -khtml-gradient(linear, left top, left bottom, from(#BFBFBF), to(#404040)); background-image: -moz-linear-gradient(top, #BFBFBF, #404040); background-image: -ms-linear-gradient(top, #BFBFBF, #404040); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BFBFBF), color-stop(100%, #404040)); background-image: -webkit-linear-gradient(top, #BFBFBF, #404040); background-image: -o-linear-gradient(top, #BFBFBF, #404040); background-image: linear-gradient(#BFBFBF, #404040); border-color: #404040 #404040 hsl(0,88%,21.5%); text-shadow: 0 -1px 0 rgba(0,0,0,0.42); color: #fff!important; -webkit-font-smoothing: antialiased; width: 100%; height: 80px; border-radius: 16px; font-size: 5rem }
.btn-custom:hover { margin: 10px auto; background-color: hsl(0,88%,28%)!important; background-repeat: repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#BFBFBF", endColorstr="#7F7F7F");
background-image: -khtml-gradient(linear, left top, left bottom, from(#7F7F7F), to(#404040)); background-image: -moz-linear-gradient(top, #7F7F7F, #404040); background-image: -ms-linear-gradient(top, #7F7F7F, #404040); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7F7F7F), color-stop(100%, #404040)); background-image: -webkit-linear-gradient(top, #7F7F7F, #404040); background-image: -o-linear-gradient(top, #7F7F7F, #404040); background-image: linear-gradient(#7F7F7F, #404040); border-color: #404040 #404040 hsl(0,88%,21.5%); text-shadow: 0 1px 0 rgba(0,0,0,0.42);}
.thumb-wrapper { position: relative; display: table; width: 100% }
.thumb-wrapper .overlay { position: absolute; background: url(http://websitetalkingheads.com/images/play-icon.png) no-repeat; background-position: center; background-attachment: local; bottom: 0; width: 100%; height: 100%; z-index: 0; display: table-cell }
.thumb-wrapper .overlay:hover { opacity: .8; filter: alpha(opacity=80) }
.nav>li>a { padding: 5px }
.exampleBtn { height: 100px; padding-top: 17px }
.btn-examples { width: 100%; margin: 0 auto; height: 66px; border-radius: 16px; font-size: 5rem; background: #BFBFBF; /* Old browsers */ background: -moz-linear-gradient(top, #BFBFBF 0%, #404040 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BFBFBF), color-stop(100%, #404040)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #BFBFBF 0%, #404040 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #BFBFBF 0%, #404040 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #BFBFBF 0%, #404040 100%); /* IE10+ */ background: linear-gradient(to bottom, #BFBFBF 0%, #404040 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BFBFBF', endColorstr='#404040', GradientType=0 ); /* IE6-9 */;
color: #fff!important; text-shadow: 0 -1px 0 rgba(0,0,0,0.42); -webkit-font-smoothing: antialiased; }
.btn-examples:hover {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#404040+0,a0d1fa+100 */ background: #404040; /* Old browsers */ background: -moz-linear-gradient(top, #404040 0%, #BFBFBF 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #BFBFBF)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #404040 0%, #BFBFBF 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #404040 0%, #BFBFBF 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #404040 0%, #BFBFBF 100%); /* IE10+ */ background: linear-gradient(to bottom, #404040 0%, #BFBFBF 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#BFBFBF', GradientType=0 ); /* IE6-9 */;
color: #000!important; text-shadow: 0 -1px 0 rgba(255,255,255,0.46) }
.examples { width: 100%; color: white;padding: 50px 0; background: -webkit-linear-gradient(rgba(10,10,10,1)0%, rgba(10,10,10,1) 70%, rgba(0,0,0,0.6) 70%, rgba(0,0,0,0.6) 100%),  -webkit-linear-gradient(left, rgba(10,10,10,1)0%, rgba(10,10,10,1) 70%, rgba(0,0,0,0.6) 70%, rgba(0,0,0,0.6) 100%); background-size: 10px 10px;}
.examples img { border: 2px solid #404040}
.exampleText { text-align: center; color: #000; margin:0 auto 16px;font-size: 3rem;font-weight: 900}
.exampleText a { color: #404040; text-decoration: none; }
.exampleText a:hover{color: black}
#formMessage { text-align: center; font-size: 80%; }
.content{margin: 20px auto}
.alert {margin: 0}
.best h2{font-weight: 900;font-size: 4rem;text-align: center}
.best p{text-indent: 16px;margin-bottom: 5px;color: black}
.best img:first-of-type{margin-bottom: 40px}
.testimonials{min-height: 200px}
.testimonials p{text-indent: 12px}
.caption{text-align: right;font-weight: 600}
.jumbotron{padding: 40px}
.best-design{margin-top: 10px;max-height:140px;display: block}
@-ms-viewport{  width: device-width;}
.italic{font-style: italic}
.m-25{margin: 25px auto}
.box{border: medium solid #424242}
.text-bold{font-weight: 700}
.text-example{margin: 5px auto 20px;text-align: center}
.alert-dark{background-color: #F5F5F5;border-color: #7F7F7F;color:black}
.white{color: white}
blockquote{font-size:3rem}
.black, .text-info{color: #000000}
.media-body{width: 50%;padding-left: 10px;line-height: 3rem;font-size: 3.5rem}
.media-left, .media-right{width: 50%}
.media{border-bottom: solid thin rgba(0,0,0,0.3);margin-bottom: 20px;padding-bottom: 10px}
.background-hash{padding: 50px 0; color: #000; background: -webkit-linear-gradient(45deg, #FFF, #EEEEEE, #FFF, #EEEEEE, #FFF, #EEEEEE, #FFF, #EEEEEE, #FFF); background-size: 10px 10px;}